$fonts: 'Source Sans Pro', sans-serif;
$fonts-monospace: 'Roboto Mono', monospace;
$primary-accent: #2b55b6;
$primary-text: #2b2b31;
$skeleton-colour: #eee;
$err-colour: #e90000;
$pin-colour: #5ab35c;